<a href="https://colab.research.google.com/github/mritunjoychk/CSE440-Project_Dementia-Detection_Summer-22/blob/NishatNaoal/CSE440_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Libraries**

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# **Loading Dataset**

In [2]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data= pd.read_excel("/content/drive/MyDrive/CSE 440 Project/oasis_longitudinal_demographics.xlsx")

In [4]:
data.head()

,Subject ID,MRI ID,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,OAS2_0001,OAS2_0001_MR1,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1986.550000,0.696106,0.883440
1,OAS2_0001,OAS2_0001_MR2,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004.479526,0.681062,0.875539
2,OAS2_0002,OAS2_0002_MR1,Demented,1,0,M,R,75,12,NaN,23.0,0.5,1678.290000,0.736336,1.045710
3,OAS2_0002,OAS2_0002_MR2,Demented,2,560,M,R,76,12,NaN,28.0,0.5,1737.620000,0.713402,1.010000
4,OAS2_0002,OAS2_0002_MR3,Demented,3,1895,M,R,80,12,NaN,22.0,0.5,1697.911134,0.701236,1.033623

In [5]:
data.shape

(373, 15)

# **Pre-Processing**

**Dropping Attributes**

In [6]:
data = data.drop(columns = ['Subject ID','MRI ID'])

**Duplicate values**

In [7]:
data.duplicated().sum()

0

**Null Values**

In [8]:
data.isnull().sum()

Group        0
Visit        0
MR Delay     0
M/F          0
Hand         0
Age          0
EDUC         0
SES         19
MMSE         2
CDR          0
eTIV         0
nWBV         0
ASF          0
dtype: int64

In [9]:
data['SES'] = data['SES'].fillna(data['SES'].mode()[0])
data['MMSE'] = data['MMSE'].fillna(data['MMSE'].mode()[0])

In [10]:
data.isnull().sum()

Group       0
Visit       0
MR Delay    0
M/F         0
Hand        0
Age         0
EDUC        0
SES         0
MMSE        0
CDR         0
eTIV        0
nWBV        0
ASF         0
dtype: int64

In [11]:
data.head()

,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF
0,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1986.550000,0.696106,0.883440
1,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004.479526,0.681062,0.875539
2,Demented,1,0,M,R,75,12,2.0,23.0,0.5,1678.290000,0.736336,1.045710
3,Demented,2,560,M,R,76,12,2.0,28.0,0.5,1737.620000,0.713402,1.010000
4,Demented,3,1895,M,R,80,12,2.0,22.0,0.5,1697.911134,0.701236,1.033623

 **Encoding**

In [12]:
data.dtypes

Group        object
Visit         int64
MR Delay      int64
M/F          object
Hand         object
Age           int64
EDUC          int64
SES         float64
MMSE        float64
CDR         float64
eTIV        float64
nWBV        float64
ASF         float64
dtype: object

Label Encoding (Group)

In [13]:
labelencoder = LabelEncoder()
data['Group_cat'] = labelencoder.fit_transform(data['Group'])

In [14]:
data.head()

,Group,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Group_cat
0,Nondemented,1,0,M,R,87,14,2.0,27.0,0.0,1986.550000,0.696106,0.883440,2
1,Nondemented,2,457,M,R,88,14,2.0,30.0,0.0,2004.479526,0.681062,0.875539,2
2,Demented,1,0,M,R,75,12,2.0,23.0,0.5,1678.290000,0.736336,1.045710,1
3,Demented,2,560,M,R,76,12,2.0,28.0,0.5,1737.620000,0.713402,1.010000,1
4,Demented,3,1895,M,R,80,12,2.0,22.0,0.5,1697.911134,0.701236,1.033623,1

**Target --> Group_cat:**

*   Demented = 1
*   Non-Demented = 2

In [15]:
data = data.drop(columns = ['Group'])

In [16]:
data['Group_cat'].describe()

count    373.000000
mean       1.410188
std        0.664461
min        0.000000
25%        1.000000
50%        2.000000
75%        2.000000
max        2.000000
Name: Group_cat, dtype: float64

In [17]:
data.head()

,Visit,MR Delay,M/F,Hand,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Group_cat
0,1,0,M,R,87,14,2.0,27.0,0.0,1986.550000,0.696106,0.883440,2
1,2,457,M,R,88,14,2.0,30.0,0.0,2004.479526,0.681062,0.875539,2
2,1,0,M,R,75,12,2.0,23.0,0.5,1678.290000,0.736336,1.045710,1
3,2,560,M,R,76,12,2.0,28.0,0.5,1737.620000,0.713402,1.010000,1
4,3,1895,M,R,80,12,2.0,22.0,0.5,1697.911134,0.701236,1.033623,1

In [18]:
data.Hand.unique()

array(['R'], dtype=object)

In [19]:
data = data.drop(columns = ['Hand'])

One Hot Encoding (M/F)

In [20]:
data = pd.get_dummies(data=data, drop_first=True, columns=['M/F'])

In [21]:
data.head()

,Visit,MR Delay,Age,EDUC,SES,MMSE,CDR,eTIV,nWBV,ASF,Group_cat,M/F_M
0,1,0,87,14,2.0,27.0,0.0,1986.550000,0.696106,0.883440,2,1
1,2,457,88,14,2.0,30.0,0.0,2004.479526,0.681062,0.875539,2,1
2,1,0,75,12,2.0,23.0,0.5,1678.290000,0.736336,1.045710,1,1
3,2,560,76,12,2.0,28.0,0.5,1737.620000,0.713402,1.010000,1,1
4,3,1895,80,12,2.0,22.0,0.5,1697.911134,0.701236,1.033623,1,1

In [22]:
data.dtypes

Visit          int64
MR Delay       int64
Age            int64
EDUC           int64
SES          float64
MMSE         float64
CDR          float64
eTIV         float64
nWBV         float64
ASF          float64
Group_cat      int64
M/F_M          uint8
dtype: object